src/main/resources/wsdl/users.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://springwstest.maxaramos.com/swst" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://springwstest.maxaramos.com/swst" targetNamespace="http://springwstest.maxaramos.com/swst">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:swst="http://springwstest.maxaramos.com/swst" elementFormDefault="qualified" targetNamespace="http://springwstest.maxaramos.com/swst">
	<element name="addUserRequest">
		<complexType>
			<all>
				<element name="user" type="swst:UserType"/>
			</all>
		</complexType>
	</element>
	<element name="addUserResponse">
		<complexType>
			<all>
				<element name="user" type="swst:UserType"/>
			</all>
		</complexType>
	</element>
	<complexType name="UserType">
		<all>
			<element minOccurs="0" name="id" type="long"/>
			<element name="username" type="string"/>
			<element name="password" type="string"/>
		</all>
	</complexType>
</schema>
  </wsdl:types>
  <wsdl:message name="addUserRequest">
    <wsdl:part element="tns:addUserRequest" name="addUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="addUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserPort">
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserRequest" name="addUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserPortSoap11" type="tns:UserPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="addUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserPortService">
    <wsdl:port binding="tns:UserPortSoap11" name="UserPortSoap11">
      <soap:address location="/userService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>